body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('Cloud.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white overlay */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
  }
  
  .button-container a {
    text-decoration: none;
  }
  
  .button-container img {
    width: 100px;
    height: 100px;
  }
